[Unit]
Description=Gunicorn server for DOMAIN;

[Service]
Restart=on-failure
User=ypark
WorkingDirectory=/home/ypark/sites/DOMAIN;
EnvironmentFIle=/home/ypark/sites/DOMAIN/.env;

ExecStart=/home/ypark/sites/DOMAIN/.venv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists:wsgi:application

[Install]
WantedBy=multi-user.target
